doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Patient Registration
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/cssfiles/css/bootstrap.min.css')
    link(rel='stylesheet' href='/cssfiles/index.css')
  body
    .container
      form#form-id(action='' name='patientform')
        .row.top-row
          .col-lg-5.color-left
            img(src='/imagefiles/ugandaflag.png' width='318px' height='99px' alt='ug flag')
          .col-lg-2
            img(src='/imagefiles/courtofarms.png' alt='court of arms' width='100px' height='99px')
          .col-lg-5.color-right
            img(src='/imagefiles/ugandaflag.png' width='316px' height='99px' alt='ug flag')
        .row.mid-row
          p Ministry of Health
          h3 COVID-19(CORONA VIRUS)
          p Virus-Test Registration Form
        #form-success.form-success
          i#icon.fa.fa-times
        .row
          .form-control
            .col-md-6.input-div-left
              label.Psurname Surname
              br
              input.surname(type='text' name='Surname')
              small#surname-error
            .col-md-6.input-div-right
              label.Pgivename Given name
              br
              input.givename(type='text' name='Givenname')
              small#givename-error
        .row
          .form-control
            .col-md-6.input-div-left
              label.P-DOB Date of Birth
              input.DOB(type='date' max='2019-12-31' name='dateofbirth')
              small#DOB-error
            .col-md-6.input-div-right
              label.P-Residence Place of Residence
              input.Residence(type='text' name='residence')
              small#Residence-error
        .row
          .form-control
            .col-md-6.input-div-left
              label.POccupation Occupation
              input.occupation(type='text' name='occupation')
              small#Occuration-error
            .col-md-6.input-div-right
              label.PNationality Nationality
              input.nationality(type='text' name='nationality')
              small#Nationality-error
        .row
          .PGender
            span Gender
          .form-control
            .malespan
              label.form-check-label(for='male') Male
              input#male.form-check-input(type='radio' name='gender' value='Male' checked)
            .femalespan
              label.form-check-label(for='female') Female
              input#female.form-check-input(type='radio' name='gender' value='Female')
        .row
          .col-lg-12
            label.P-Category Category
            br
            select(name='category')
              option(value='default')  --Select Category-- 
              option(value='returnee') Returnee
              option(value='contact') Contact
              option(value='alert') Alert
              option(value='volunteer') Volunteer
            small#category-error
        .row
          input.btn-submit(type='submit' value='Register')
    script(src='/javaScriptfiles/js/bootstrap.min.js')
    script(src='/javaScriptfiles/index.js')
